<p style="color:#fff; text-align: center;" >
  Me gustan los deportes, en general me gusta: nadar, correr, cletiar, jugar deportes con balon.
  <br> Pero en de todos mi deporte preferido es el basketball<br>
  Me gustan los videojuegos aunque ya nunca tengo el tiempo para jugarlos, veo series y me encanta la naturaleza.

</p>
