<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Disign with bootstrap <i class="fa fa-heart"></i> using <a href="https://www.linkedin.com/in/josu%C3%A9-villalobos-schmidt-248a2a172/">Angular</a>
  </div>
</nav>
