<nav class="navbar navbar-dark bg-dark mb-5">
  <img style="width: 6em; height: 2em;" src="https://bunny1ov3r.files.wordpress.com/2009/10/about-me.jpg" alt="">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/HOME">Home page</a>
      <a class="nav-item nav-link" routerLink="/PRESENTACION">Presentación</a>
      <a class="nav-item nav-link" href="/ESTUDIOS">Estudios</a>
      <a class="nav-item nav-link" href="/HOBBIES">Hobbies</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>

