

<h2 style="margin: 1em; color: #fff"> Josué Villalobos Schmidt <br> </h2>
 <p style="margin: 2em; color: #fff"> Vecino de Jaco pero alquilo en Cartago.<br>
  Hijo de sus padres.. (Ana Sofía Schmidt Quesda) (Mario Villalobos Fonseca)<br>
  El menor entre los hermanos<br>
  + 1.80 de altura <br>+ ojos color marron <br>+ cabello:si <br></p>
 
<p style="margin: 2em; color: #fff"><b></b> “Soy un Estudiante de computación de la 
  cede central en Cartago, alquilo un partamento porque mi familia vive en Jaco.<br> Me encuentro en el 
  ultimo año de la carrera y ya en Febrero estaré iniciando el proceso de práctica profecional.”<br>
  Me gusta practicar diversos deportes pero el que más me gusta es baloncesto."
  <br> </p>
  <img style="margin-left: 2em;" width="100" alt="Angular Logo" src="../../assets/avatar (2).png">

