
<div style="display: inline;">
<div class="col col-5 texto" style="background-color: coral; border-radius: 1em; border:solid 2px rgb(65, 155, 38); float: right;">
    <h2>El TEC</h2>
    <p>Ingrese al Tecnológico en el año 2012, a ATI.<br> Posteriormente en el 2013 cambie a la carrera de Ing en Computación.<br>
      Estudiante de la carrera de Ing. En Computación de la sede Cartago</p>
    <img style="width: 35em" src="../../assets/Captura de pantalla de 2018-12-13 22-53-12.png"> 
    <p style="color:chartreuse"> Los Profes... Todos fueron increibles, de cada uno se aprende algo nuevo >)</p>
    <p>El soporte: Gracias al Redbull y litros de cafeina</p>
    <p>Futuras fotos del curso de verano</p>
  </div>
  <div class="col col-5 texto" style="background-color: cadetblue;border-radius: 1em; border:solid 2px rgb(65, 155, 38);">
    <h2>Escuela/Cole</h2>
    <p>Colegio Maria inmaculada de Jaco, inicie el 2007 en septipo y acabo en el 2012.<br> No se encontraron fotos al respecto</p>
  </div>
  
</div>