<img background="../../assets/U3h0AEB (1).jpg" alt="">
<div style="text-align:center; right: 20em; position: relative;">
  <h1 style="color:rgb(92, 184, 31); font-size: 15em;font-family: cursive;">
    {{ title }}
    <i class="far fa-address-card"></i>
  </h1>

  
  <p><b>Leyenda Lab01</b> "Las limitaciones existen unicamente en nuestra mente"<br>Sigueme en</p>  
    <div style="display: inline-flex; bottom: 1em; position: relative;">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
</div>
